<!DOCTYPE html>
<html>
{% load static %}
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<head>
  <title>502 - Bad gateway</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 100px;
    }

    h1 {
      font-size: 36px;
      color: #FF0000;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      color: #333333;
    }
  </style>
</head>
<body>
  <h1>502 - bad gateway</h1>
  <p>Извините, возникла проблема с шлюзом сервера.</p>
<p>Если проблема не исчезает, свяжитесь по адресу: <a id="mailto" href="mailto:vsucareer@gmail.com"> vsucareer@gmail.com </a> .</p>
</body>
</html>
