<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                url: "/api/articles/",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    var articles = data;
                    for (var i = 0; i < articles.length; i++) {
                        $('#articles-list').append('<li>' + articles[i].title + '<p>' + articles[i].description + '</p>' + '</li>');

                    }

                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
</head>
<body>
    <h1>Articles</h1>
    <ul id="articles-list"></ul>
</body>
</html>