{% extends "base_admin.html" %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <title>{% block title %}Список заявок{% endblock %}</title>

  <script>
    // Функция для получения CSRF-токена из cookie
    function getCSRFToken() {
      var csrfToken = null;
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.indexOf('csrftoken=') === 0) {
          csrfToken = cookie.substring('csrftoken='.length, cookie.length);
          break;
        }
      }
      return csrfToken;
    }
  
    // JavaScript для редактирования ячеек и отправки POST-запроса
    $('td.stage, td.result, td.comment').on('blur', function() {
        var cell = $(this);
        var newValue = cell.text().trim();
        var demandId = cell.closest('tr').data('demand-id');
        var columnName = cell.data('column-name');
        var csrftoken = getCSRFToken();

        // Отправьте AJAX-запрос на сервер для обновления данных
        $.ajax({
            type: 'POST',
            url: '/update-demand/' + demandId + '/',
            data: {
                column_name: columnName,
                new_value: newValue,
                csrfmiddlewaretoken: csrftoken
            },
            success: function(data) {
                console.log('Значение успешно обновлено: ' + newValue);
            },
            error: function() {
                console.log('Не удалось обновить значение: ' + newValue);
            }
        });
    });
  </script>
</head>
<body>
  {% block content %}
  <h2>Всего заявок: {{ counter.count }}</h2>
  <button id="resetSortButton">Сбросить сортировку</button>
  <button id="hideActiveButton">Скрыть активные заявки</button>
  <button id="showActiveButton" style="display: none;">Показать активные заявки</button>
  <button id="hideArchiveButton" style="display: none;">Скрыть архивные заявки</button>
  <button id="showArchiveButton">Показать архивированные заявки</button>

  <h2>Активные заявки:</h2>
    <table id="activeTable">
      <thead>
        <tr>
          <th class="sortable"><img class="sortico" src="{% static 'img/sort-up.svg' %}">Дата</th>
          <th class="sortable"><img class="sortico" src="{% static 'img/sort-up.svg' %}">Имя</th>
          <th class="sortable"><img class="sortico" src="{% static 'img/sort-up.svg' %}">Номер телефона, e-mail</th>
          <th class="sortable"><img class="sortico" src="{% static 'img/sort-up.svg' %}">Мессенджеры</th>
          <th class="sortable"><img class="sortico" src="{% static 'img/sort-up.svg' %}">Факультет, курс</th>
          <th class="sortable"><img class="sortico" src="{% static 'img/sort-up.svg' %}">Цель</th>
          <th class="sortable"><img class="sortico" src="{% static 'img/sort-up.svg' %}">Стадия</th>
          <th class="sortable"><img class="sortico" src="{% static 'img/sort-up.svg' %}">Результат</th>
          <th class="sortable"><img class="sortico" src="{% static 'img/sort-up.svg' %}">Комментарий</th>
          <th class="sortable"><img class="sortico" src="{% static 'img/sort-up.svg' %}">Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for demand in demands %}
        {% if not demand.is_archived %}
          <tr class="active-row" data-demand-id="{{ demand.id }}">
            <td>{{ demand.date_created|date:"Y-m-d H:i" }}</td>
            <td>{{ demand.user_profile.firstname }} {{ demand.user_profile.surname }} {{ demand.user_profile.patronymic }}</td>
            <td><a href="tel:{{ demand.user_profile.phonenumber }}">{{ demand.user_profile.phonenumber }} </a> <br> <a href="mailto:{{ demand.user_profile.email }}">{{ demand.user_profile.email }}</a></td>
            <td>
              {% if demand.user_profile.have_viber %} Viber, {% endif %}
              {% if demand.user_profile.have_telegram %} Telegram, {% endif %}
              {% if demand.user_profile.have_whatsapp %} <a href="https://wa.me/{{ demand.user_profile.phonenumber }}">WhatsApp</a> {% endif %}
            </td>
            <td>{{ demand.user_profile.faculty }}, {{ demand.user_profile.course }} курс</td>
            <td>{{ demand.target }}</td>
            <td class="stage" data-demand-id="{{ demand.id }}" data-column-name="stage" style="cursor: pointer;" contenteditable="true">{{ demand.stage }}</td>
            <td class="result" data-demand-id="{{ demand.id }}" data-column-name="result" style="cursor: pointer;" contenteditable="true">{{ demand.result }}</td>
            <td class="comment" data-demand-id="{{ demand.id }}" data-column-name="comment" style="cursor: pointer;" contenteditable="true">{{ demand.comment }}</td>
            <td>
              <a href="{% url 'delete_demand' demand.id %}" class="delete">Удалить</a>
            </td>
          </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}
  </body>
</html>
