<!DOCTYPE html>
<html>
<head>
    <title>Выход</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Спасибо, что посетили сайт Центра карьеры ВГУ!</h1>
    <p>Будем рады видеть вас снова!</p>
    <script>
        setTimeout(function() {
            window.location.href = '/';
        }, 3000);
    </script>
    <p>Если переход на главную не работает, <a href="/">нажмите сюда</a>.</p>
</body>
</html>
