<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}!</h1>
        <h2>Your Profile Details:</h2>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Avatar:</strong> <img src="{{ user.userprofile.avatar.url }}" alt="Avatar"></p>
        {% if user.userprofile.is_employer %}
            <p><strong>Company:</strong> {{ user.userprofile.company }}</p>
            
            <h2>Your Vacancies:</h2>
            <ul>
                {% for vacancy in user.userprofile.vacancies.all %}
                    <li>{{ vacancy.title }}</li>
                    <li>Short Description: {{ vacancy.short_description }}</li>
                    <li>Main Description: {{ vacancy.main_description }}</li>
                    <!-- Добавьте другие необходимые поля вакансии -->
                {% endfor %}
            </ul>
        {% endif %}
        {% if user.userprofile.is_job_seeker %}
            <p><strong>Faculty:</strong> {{ user.userprofile.faculty }}</p>
        {% endif %}
    {% else %}
        <h1>Welcome, Guest!</h1>
        <p>Please log in to view your profile.</p>
    {% endif %}
</body>
</html>

