<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                url: "/api/topics/",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    var topics = data;
                    for (var i = 0; i < topics.length; i++) {
                        $('#topics-list').append('<li>' + topics[i].name + '</li>');
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
</head>
<body>
    <h1>Topics</h1>
    <ul id="topics-list"></ul>
</body>
</html>