<!DOCTYPE html>
<html>
<head>
    <title>Vacancy List</title>
</head>
<body>
    <h1>Vacancy List</h1>

    {% if vacancies %}
        <ul>
            {% for vacancy in vacancies %}
                <li>{{ vacancy.title }} - {{ vacancy.career_center }}</li>
                <li>Short Description: {{ vacancy.short_description }}</li>
                <li>Main Description: {{ vacancy.main_description }}</li>
                <li>Salary: {{ vacancy.salary }}</li>
                <!-- Display other fields as needed -->
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No vacancies available.</p>
    {% endif %}
</body>
</html>
