<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <title>Редактирование статьи</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="/examples/vendors/bootstrap-4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'scripts/search_auth.js' %}"></script>
    <script src="{% static 'scripts/get_usermain.js' %}"></script>
    <script src="{% static 'scripts/add_and_edit_article_list_topics.js' %}"></script>
    <script src="{% static 'scripts/edit_article.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
    <!-- </style> -->
</head>

<body>


<!-- NAV #1 и HEADER -->
<div class="top">
    <div class="container1">
        <div class="row">
            <!-- HEADER -->
            <header class="col-md-6 col-xl-12 header order-md-0 order-xl-1">
                <a href="{% url 'index_auth' %}"><img class="main-logo"
                                                      src="{% static 'img/Wikipedia-W-bold-in-square-Clean 1.png' %}"
                                                      width="65px"
                                                      height="65px"></a>
                <a id="loginname" class="loginname"></a>
                <input type="text" name="search" id="search" class="search1" placeholder="Search">
                <ul class="list-group" id="result"></ul>
                <a href="{% url 'profile_page' %}"><img class="profilepic"
                                                        src="{% static 'img/lexa_avatarka.svg' %}"></a>
            </header>
        </div>
    </div>
</div>
<main>

    <br><br><br><br>
    <div class="article-editor col-sm-5 col-md-6 col-xl-12 order-md-0 order-xl-1" style="display: block;">
        <input id="title" type="text" placeholder="Заголовок"
               class="article-edit-string col-sm-5 col-md-6 col-xl-12 order-md-0 order-xl-1">
        <select id="selecttheme_field" class="selecttheme_field">
            <option id="op_selecttheme_field" class="op_selecttheme_field" value=""></option>

        </select>
        <div class="upload_image"><label for="file_input" id="upload_label">Загрузить изображение <br> <img
                src="{% static 'img/cloud_upload.svg' %}"> </label>
            <input type="file" id="file_input" accept="image/*"></div>
        <textarea id="description" type="text" placeholder="Текст статьи"
                  class="textarticle_field col-sm-5 col-md-6 col-xl-12 order-md-0 order-xl-1"></textarea>
        <form>
            <button class="button_save" id="button-save-article-edit"><p class="p-editarticlebutton"> Редактировать </p>
            </button>
        </form>
    </div>
    </div>
    <br><br><br><br><br><br>

</main>
<!-- FOOTER -->
<footer>
    <div class="container footer col-sm-5 col-md-6 col-xl-12 order-md-0 order-xl-1">
        <img class="footer-1" src="{% static 'img/Mask group.png' %}" width="38px" height="38px">
        <p class="p2023">2023</p>
    </div>
</footer>

<script>

    $(document).ready(function () {
        var path = window.location.pathname;
        var parts = path.split('/');
        var id = parts[parts.length - 2];
        var url = `http://158.160.51.82:30/api/v1/article/${id}/`;
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var topic_id = JSON.stringify(response['topic']).replace(/"/g, '');
                $('#title').val(JSON.stringify(response['title']).replace(/"/g, ''));
                $('#description').val(JSON.stringify(response['description']).replace(/"/g, ''));



                var url2 = `http://158.160.51.82:30/api/v1/topics/${topic_id}/`;
                $.ajax({
                    url: url2,
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                            $('#op_selecttheme_field').text(JSON.stringify(response['name']).replace(/"/g, '')).val((JSON.stringify(response['id']).replace(/"/g, '')));
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });

    });

</script>

</body>

<style>
    @font-face {
        font-family: 'Montserrat-Medium';
        src: url({% static 'fonts/Montserrat-Medium.ttf' %}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat-Regular';
        src: url({% static 'fonts/Montserrat-Regular.ttf' %}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat-Light';
        src: url({% static 'fonts/Montserrat-Light.ttf' %}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat-SemiBold';
        src: url({% static 'fonts/Montserrat-SemiBold.ttf' %}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
</style>

</html>